@import '../../../../variables.scss';
@import '../../../../styles.scss';

.backdrop-overlay {
  z-index: 1000; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-color: $light;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: .25rem;
}

hr.header-seperator {
  padding-bottom: .75rem;
  border-top: 1px solid black;
  border-left: none;
}

@include media($phone-size) {
  .modal-content {
    width: 80%;
  }
}

@include media($tablet-size) {
  .modal-content {
    width: 50%;
  }
}

@include media($desktop-size) {
  .modal-content {
    width: 30%;
  }
}
