
<div class="layout" *ngIf="selectedFrame$ | async as frame; else noFrame">
  <span class="title">{{ frame.name }}</span>

  <div class="image-upload-section">
    <ngx-dropzone (change)="onFilesAdded($event.addedFiles)" class="image-upload-zone">
      <ngx-dropzone-label>Drag Files or Click to Browse</ngx-dropzone-label>
    </ngx-dropzone>

    <div class="image-upload-camera">
      <input #mobileupload type="file" accept="image/*" capture="camera"
      (change)="onFilesAddedMobile($event.target.files)">
      <span (click)="onClickMe()">click me</span>
    </div>

  </div>

  <div *ngIf="uploadPercentage$ | async as uploadPercentage">
    {{ uploadPercentage }}% COMPLETE
  </div>

  <div>
    <img *ngFor="let image of frame.images" [src]="image.downloadUrl" width="100px" height="100px">
  </div>
</div>

<ng-template #noFrame>
  NO FRAME SELECTED!
</ng-template>

