<div class="layout" id="test" *ngIf="selectedFrame$ | async as frame">
  <div class="title">
    <span class="frame-name">{{ frame.name }}</span>
    <span class="live-view clickable" (click)="onShowLiveView()">Live Mode</span>
  </div>

  <div class="subtitle">
    <span class="access-code">- Access Code: {{ frame.accessToken.token }}</span>
  </div>

  <ngx-dropzone (change)="onFilesAdded($event.addedFiles)" class="image-upload-zone">
    <ngx-dropzone-label>Drag Files or Click to Browse</ngx-dropzone-label>
  </ngx-dropzone>

  <div class="image-upload-camera" *ngIf="!showImageEditor && selectedImageId === null && !showLiveView">
    <main-mobile-image-upload-fab (filesAdded)="onFilesAddedMobile($event)"></main-mobile-image-upload-fab>
  </div>

  <div *ngFor="let grouping of groupedImages$ | async" class="group-image-display-section">
    <span class="group-title">{{ grouping.displayKey }}'s Images</span>
    <div class="masonry">
      <img *ngFor="let image of grouping.images" [mainImageLazyLoad]="image" class="image clickable"
        (click)="onSelectImage(image.id)">
    </div>
  </div>

  <main-live-view *ngIf="showLiveView" (exit)="onExitLiveView()"
    [accessCode]="frame.accessToken.token"></main-live-view>
</div>


<main-image-editor *ngIf="showImageEditor" [imageData]="imageData" (exit)="onImageEditorExit()"
  (save)="onSaveEditedImage($event)"></main-image-editor>

<main-image-gallery *ngIf="selectedImageId !== null" [images]="(selectedFrame$ | async).images"
  [startId]="selectedImageId" (closeGallery)="onCloseSelectedImage()"></main-image-gallery>

<div class="upload-progress" *ngIf="uploadPercentage$ | async as uploadPercentage" [style.width.%]="uploadPercentage">
</div>