@import '../../../variables.scss';

.layout {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {

  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;

  .frame-name {
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .live-view {
    align-self: center;
  }
}

.subtitle {
  display: flex;

  .access-code {
    padding-left: .75rem;
  }
}

.group-image-display-section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  .group-title {
    font-weight: bold;
    padding-bottom: .5rem;
  }

  .masonry {
    column-gap: 8px;

     .image {
       width: 100%;
       height: auto;
     }

     .image:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
      position: relative;
      z-index: 10;
     }
   }

   @include media($phone-size) {
     .masonry {
       column-count: 1;
     }
   }
    
   @include media($tablet-size) {
     .masonry {
       column-count: 2;
     }
   }

   @include media($desktop-size) {
     .masonry {
       column-count: 3;
     }
   }
}

.image-upload-zone {
  display: flex;
  opacity: .75;
  height: 100px;
}

.image-upload-camera {
  display: none;
}

@include media($less-than-desktop) {
  .image-upload-zone {
    display: none;
  }

  .image-upload-camera {
    display: block;
  }
}

.upload-progress {
  background-color: $success;
  height: 10px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2000;
}

.close-fullscreen-image {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 1.5rem;
  opacity: .75;
}