@import '../../../variables.scss';

.layout {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {

  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;

  .frame-name {
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .live-view {
    align-self: center;
  }
}

.subtitle {
  display: flex;

  .access-code {
    padding-left: .75rem;
  }
}

.group-image-display-section {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  .group-title {
    font-weight: bold;
    padding-bottom: .5rem;
  }

  .masonry {
    column-gap: 8px;

     .image {
       width: 100%;
       height: auto;
     }
   }

   @include media($phone-size) {
     .masonry {
       column-count: 1;
     }
   }
    
   @include media($tablet-size) {
     .masonry {
       column-count: 2;
     }
   }

   @include media($desktop-size) {
     .masonry {
       column-count: 3;
     }
   }
}

.image-upload-zone {
  display: flex;
  opacity: .75;
  height: 100px;
}

.image-upload-camera {
  display: none;
}

@include media($less-than-desktop) {
  .image-upload-zone {
    display: none;
  }

  .image-upload-camera {
    display: block;
  }
}

.fab-image-capture {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  background-color: $tetradic-brown;
  color: $light;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

.fab-image-options-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8;
}

.fab-image-option {
  width: 110px;
  position: fixed;
  text-align: center;
  z-index: 9;
  color: $primary;
  background-color: $light;
  padding: 1rem;
}

.fab-image-option-upload-image {
  right: calc(50px + 50px); // fab-image-capture right + width
  bottom: calc(50px + 50px + 3 * 1rem); // fab-image-capture bottom + width
  border-bottom: 3px solid $primary;
}


.fab-image-option-use-camera {
  right: calc(50px + 50px); // fab-image-capture right + width
  bottom: calc(50px + 50px); // fab-image-capture bottom + width
}

.upload-progress {
  background-color: $success;
  height: 10px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 2000;
}

