@import '../../../../variables.scss';

.layout {
  display: flex;
  color: $light;
  padding: .75rem;
  background-color: $primary;
  z-index: 1000;
}

.menu-button {
  visibility: hidden;
}

@include media($phone-size...) {
  .menu-button {
    visibility: visible;
    flex-grow: 1;
  }

  .nav-title {
    flex-grow: 1;
  }
}
