@import '../../../variables.scss';

.sidenav {
  height: 100%;
  z-index: 10;
  background-color: $tetradic-green;
  color: $light;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@include media($phone-size) {
  .mobile-sidenav {
    display: block
  }

  .fixed-sidenav {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
  }
}

@include media($tablet-or-larger) {
  .mobile-sidenav {
    display: none;
  }

  .fixed-sidenav {
    display: block;
    height: 100%;
    position: relative;
  }
}
