@import '../../../variables.scss';

.body {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: .75rem;
}

.input-label {
  padding-bottom: .25rem;
}

.error {
  color: $error;
}
