<div class="layout">
    <div class="title-section">
        <span>Select a Frame</span>
        <span class="close-button clickable" (click)="closeSidenav()"><fa-icon [icon]="icons.close"></fa-icon></span>
    </div>

    <div class="content-section">
        <div *ngFor="let frame of (userFrames$ | async)" [ngClass]="{'sidenav-item-selected': (selectedFrameId$ | async) === frame.frameId}"
            class="clickable sidenav-item" (click)="onFrameSelect(frame)">
            <span>{{ frame.name }}</span>
        </div>
    </div>

    <div class="actions-section">
        <div class="clickable create" (click)="onOpenCreateFrame()">
            <fa-icon [icon]="icons.add"></fa-icon>Create
        </div>
        <div class="clickable join" (click)="onOpenJoinFrame()">
            <fa-icon [icon]="icons.add"></fa-icon>Join</div>
    </div>
</div>