
<div class="layout">
  <app-navbar></app-navbar>
  <div class="component-layout">
    <main-frame-sidenav></main-frame-sidenav>
    <main-frame class="frame-space" *ngIf="!frameDisplayState.noFrames && !frameDisplayState.badFrameId"></main-frame>

    <div *ngIf="frameDisplayState.noFrames && !frameDisplayState.badFrameId" class="no-frame-space">
      <div class="message">
        You're not part of a frame!
        <span class="link" (click)="openCreateFrame()">Create a new one</span> or
        <span class="link" (click)="openJoinFrame()">join an existing one</span> to get started!
      </div>
    </div>

    <div *ngIf="!frameDisplayState.noFrames && frameDisplayState.badFrameId" class="no-frame-space">
      <span class="message">Invalid frame URL. Please select an existing frame or create a new one</span>
    </div>
  </div>
</div>

<main-create-frame></main-create-frame>
<main-join-frame></main-join-frame>



