<app-navbar></app-navbar>

<div *ngIf="user$ | async as user">
  <span *ngFor="let frame of user.frames" class="clickable" (click)="onFrameSelect(frame)">
    {{ frame.name }}
  </span>
</div>


<p>entry works!</p> <button (click)="signout()">SIGNOUT</button>
<button (click)="createFrame()">CREATE FRAME</button>
<button (click)="test()">Test</button>

<div *ngIf="selectedFrame$ | async as frame">
  <img *ngFor="let image of frame.images" [src]="image.downloadUrl" width="100px" height="100px">
</div>

<ngx-dropzone (change)="onFilesAdded($event)">
  <ngx-dropzone-label>Drag Files or Click to Browse</ngx-dropzone-label>
</ngx-dropzone>

<div *ngIf="uploadPercentage$ | async as uploadPercentage">
  {{ uploadPercentage }}% COMPLETE
</div>
