@import '../../../variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .component-layout {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    .frame-space {
      overflow: auto;
    }

    .no-frame-space {
      display: flex;
      justify-content: center;

      .message {
        font-size: 1.5rem;
        margin-top: 4rem;
        text-align: center;

        .link {
          cursor: pointer;
          text-decoration: underline;
          color: $primary-light;
        }
      }
    }
  }
}

@include media($phone-size) {
  .sidenav-space {
    flex: 0;
  }

  .message {
    width: 75%;
  }
}

@include media($tablet-or-larger) {
  .sidenav-space {
    flex: 3
  }

  .frame-space {
    flex: 7;
  }

  .message {
    width: 50%;
  }
}
