
<div class="layout">
  <app-navbar></app-navbar>
  <div class="component-layout">
    <!-- Mobile SideNav -->
    <app-sidenav *ngIf="showSidenav$ | async" class="sidenav-space mobile-sidenav">
      <span class="clickable sidenav-item" (click)="openCreateFrame()">+ Create New Frame</span>
      <span *ngFor="let frame of (user$ | async).frames"
        [ngClass]="{'sidenav-item-selected': (selectedFrameId$ | async) === frame.frameId}"
        class="clickable sidenav-item"
        (click)="onFrameSelect(frame)">
        {{ frame.name }}
      </span>
    </app-sidenav>

    <!-- Fixed SideNav -->
    <app-sidenav class="sidenav-space fixed-sidenav">
      <span class="clickable sidenav-item" (click)="openCreateFrame()">+ Create New Frame</span>
      <span *ngFor="let frame of (user$ | async).frames"
        [ngClass]="{'sidenav-item-selected': (selectedFrameId$ | async) === frame.frameId}"
        class="clickable sidenav-item"
        (click)="onFrameSelect(frame)">
        {{ frame.name }}
      </span>
    </app-sidenav>

    <main-frame class="frame-space"></main-frame>
  </div>
</div>

<main-create-frame *ngIf="showCreateFrameModal" (closeModal)="onCloseModal()" (createFrame)="onCreateFrame($event)"></main-create-frame>



