<form [formGroup]="createAccountFormGroup">

  <div class="form-control-section">
    <span>Email:</span>
    <input formControlName="email" />
    <span class="error" *ngIf="email.touched && email.invalid">{{ getEmailError() }}</span>
  </div>


  <div class="form-control-section">
    <div class="inline-label">
      <span>Username:</span>
      <span class="error" *ngIf="checkingUsernameLoading">Checing Username...</span>
    </div>
    <input formControlName="username" />
    <span class="error" *ngIf="username.touched && username.invalid">{{ getUsernameError() }}</span>
  </div>

  <div class="form-control-section">
    <div class="inline-label">
      <span>Password:</span>
      <span class="clickable" (click)="togglePasswordView()">(o)View Password</span>
    </div>
    <input [type]="passwordView" formControlName="password" />
    <span class="error" *ngIf="password.touched && password.invalid">{{ getPasswordError() }}</span>
  </div>

  <div class="form-footer">
    <span class="error" *ngIf="createAccountError$ | async; let message">ERROR: {{ message }}</span>
    <button class="btn btn-primary" [disabled]="!createAccountFormGroup.valid || !createAccountFormGroup.touched"
      (click)="onCreateAccount()">CREATE</button>
  </div>

</form>
