<form [formGroup]="createAccountFormGroup">

  <div class="form-control-section">
    <span>Email:</span>
    <input formControlName="email" />
    <span class="error" *ngIf="email.touched && email.invalid">{{ getEmailError() }}</span>
  </div>


  <div class="form-control-section">
    <span>Username:</span>
    <input formControlName="username" />
    <span class="error" *ngIf="username.touched && username.invalid">{{ getUsernameError() }}</span>
  </div>

  <div class="form-control-section">
    <span>Password:</span>
    <input type="password" formControlName="password" />
    <span class="error" *ngIf="password.touched && password.invalid">{{ getPasswordError() }}</span>
  </div>

  <div class="form-footer">
    <span class="error" *ngIf="createAccountError$ | async; let message">ERROR: {{ message }}</span>
    <button class="btn btn-primary" [disabled]="!createAccountFormGroup.valid || !createAccountFormGroup.touched"
      (click)="onCreateAccount()">CREATE</button>
  </div>

</form>
