@import '../../../variables.scss';

.layout {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.username-overlay {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  padding: .5rem;
  background-color: black;
  opacity: .75;
}

.access-code-overlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: .5rem;
  background-color: black;
  opacity: .75;
}

#mobile-exit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

@include media($tablet-or-larger) {
  #mobile-exit-overlay {
    display: none;
  }
}
