/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import './variables.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-stack;
  background-color: $secondary;
}

input {
  font: inherit;
  font-size: inherit;
  text-indent: 2px;
  padding: .5rem;
  border: 1px solid lightgray;
}

.clickable {
  cursor: pointer;
}

.btn {
  text-align: center;
  border: 0;
  border-radius: 0;
  padding: .375rem .75rem;
  cursor: pointer;
  font: inherit;
}

.btn-primary {
  background-color: $primary;
  color: $light;
}
