/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
@import './variables.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: $font-stack;
  background-color: $secondary;
}

input {
  font: inherit;
  font-size: inherit;
  text-indent: 2px;
  padding: .5rem;
  border: 1px solid lightgray;
}

.clickable {
  cursor: pointer;
}

.btn {
  text-align: center;
  border: 0;
  border-radius: 0;
  padding: .375rem .75rem;
  cursor: pointer;
  font: inherit;
}

.btn:disabled {
  opacity: .75;
  cursor: not-allowed;
}

.btn-primary {
  background-color: $primary;
  color: $light;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .form-control-section {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
  }

  .error {
    color: $error;
  }

  .inline-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    button {
      margin-left: auto;
    }
  }
}
